#div1 {

/*background-image: url("../img/wordcloud3.jpg");	
background-size: cover;
    background-repeat: no-repeat;
    width:100%;	*/
}

body {


}

.test2 {

	display: inline-block;
width:100%;	
margin:0 auto;
}


